/* General Footer Styling */
.footer {
  border-top: 1px solid rgb(201, 201, 201);
  background-color: #f8f9fa; /* Soft light background color */
  padding: 0 5%;
  font-family: 'Open Sans', sans-serif;
  color: #495057; /* Modern dark gray text color */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px; /* Add spacing between sections */
}

/* Footer Sections */
.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 240px; /* Increased min-width for better alignment */
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  color: #343a40; /* Darker heading color */
}

.footer-section p,
.footer-section ul {
  margin-bottom: 10px;
  line-height: 1.7;
  font-size: .8rem;
  color: #495057; /* Consistent dark gray text color */
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #495057;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #000000; /* Coral color on hover for modern contrast */
}

.social-icons {
  display: flex;
  text-align: center; 
  gap: 20px;
  margin-top: 10px;
}

.social-icons a {
  color: #343a40;
  font-size: 1.4rem; /* Slightly larger icons for modern look */
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #000000; /* Coral color on hover */
  transform: scale(1.2); /* Slight scaling on hover */
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  /* margin-top: 40px; */
  font-size: 0.9rem;
  border-top: 1px solid #dee2e6; /* Soft border for separation */
  padding: 20px;
  color: #6c757d;
}

/* Map Section */
.map iframe {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%; /* Increased height for better visibility */
  max-width: 100%;
}
.leaflet-container{
  height: 100vh;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Increased gap for better spacing on mobile */
  }

  .footer-section {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-section.contact p {
    justify-content: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* margin-top: 10px; */
  }
}
