@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

/* Resetting default padding, margin, and box-sizing for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Moderustic', sans-serif;
}

/* Custom selection color */
::selection {
  background-color: #3f6682;
  color: #fff;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(63, 102, 130);
  border-radius: 15px;
}

/* Preload images to avoid jumps */
@keyframes preloadImages {
  0%, 100% { background-image: url('thaba-eco-hotel.jpg'); }
  10% { background-image: url('pic2.jpg'); }
  20% { background-image: url('pic3.jpg'); }
  30% { background-image: url('pic4.jpg'); }
  40% { background-image: url('pic5.jpg'); }
  50% { background-image: url('pic6.jpg'); }
  60% { background-image: url('pic7.jpg'); }
  70% { background-image: url('pic8.jpg'); }
  80% { background-image: url('pic9.jpg'); }
  90% { background-image: url('pic10.jpg'); }
  100% { background-image: url('pic11.jpg'); }
}

/* Define the keyframes for the background image change */
@keyframes changeBackground {
  0%, 100% {
    background-image: url('thaba-eco-hotel.jpg');
  }
  20% {
    background-image: url('pic2.jpg');
  }
  30% {
    background-image: url('pic3.jpg');
  }
  40% {
    background-image: url('pic4.jpg');
  }
  50% {
    background-image: url('pic5.jpg');
  }
  60% {
    background-image: url('pic6.jpg');
  }
  70% {
    background-image: url('pic7.jpg');
  }
  80% {
    background-image: url('pic8.jpg');
  }
  90% {
    background-image: url('pic9.jpg');
  }
  100% {
    background-image: url('pic10.jpg');
  }
}

/* Wrapper styling */
.Wrapper {
  display: grid;
  background-image: url('thaba-eco-hotel.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh; /* Ensures the wrapper takes up full viewport height */
  animation: changeBackground 1200s 3s infinite; 
  transition: background-image 1s linear; /* Smooth transition for background images */
}

/* Main content styling */
main {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Allows main content to grow and take up available space */
}

/* Optional: Ensuring smooth transitions if elements change */
.page-enter {
  opacity: 0;
  transform: scale(0.95);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

/* Optional page transitions for route changes */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

button{
  border-radius: 15px 0;
}
.upArrow{
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
  background: #3f6682;
  color: #fff;
  font-size: 2em;
  border: 1px solid #3f6682;
  transition: all .2s linear;
}
.upArrow:hover{
  transform: scale(1.1);
  background: #fff;
  color: #3f6682;
  border: 1px solid #3f6682;
  box-shadow: 0 0 4px 1px #00000080;
}
